{% extends 'layout.html.twig' %}
{% block content %}
<div class="alert alert-danger">
    <strong>Atenção:</strong> Construtora, para maiores informações, entrar em contato com o email: contrutora@reclameimovel.com.br.
</div>
{% endblock %}
