{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
<div class="alert alert-success">
    <strong>Nós vamos divulgar para você!</strong> Reclame agora, registre o seu problema.
</div>
<input type="text" placeholder="Procurar Empreendimento" class="form-control">
    
{% endblock %}
