{% extends 'layout.html.twig' %}
{% block content %}
{% if app.user %}
<div class="alert alert-success">
    <strong>Olá <b>{{ app.user.username }}</b>,</strong> agora você já pode começar a reclamar, busque seu empreendimento e mãos a obra, registre o seu problema, e deixe que nós facilitamos a divulgação.
</div>
{% else %}
<div class="alert alert-danger">
    <strong>Olá venha fazer parte.</strong><a href="/login" class="alert-link"> Clique aqui e começe a reclamar, registre o seu problema, e deixe que nós facilitamos a divulgação.</a>
</div>
{% endif %}

{% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
    {% for alert in alertTypeAvaillable %}
        {% for message in app.session.getFlashBag.get(alert) %}
            <div class="alert alert-{{ alert }}" >
                <button class="close" data-dismiss="alert">×</button>
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
<form class="form-inline" role="form">
  <div class="form-group has-success has-feedback" style="width:90%">
    <input type="text" class="form-control" id="valor" style="width:100%" placeholder="Procure agora seu empreendimento">
  </div>
	<button type="button" class="btn btn-success" id="buscar">Procurar</button>
</form>
<br>
<br>
<div class="ui-widget">
<label for="emp">Your city: </label>
<input id="emp">
Powered by <a href="http://geonames.org">geonames.org</a>
</div>
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
Result:
<div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>
<script src="{{ app.request.basepath }}/js/autocomplete.js"></script>

{% endblock %}
