{% extends 'layout.html.twig' %}
{% block content %}
{% if app.user %}
<div class="alert alert-success">
    <strong>Olá <b>{{ app.user.username }}</b>,</strong> agora você já pode começar a reclamar, busque seu empreendimento e mãos a obra, registre o seu problema, e deixe que nós facilitamos a divulgação.
</div>
{% else %}
<div class="alert alert-danger">
    <strong>Olá venha fazer parte.</strong><a href="/login" class="alert-link"> Clique aqui e começe a reclamar, registre o seu problema, e deixe que nós facilitamos a divulgação.</a>
</div>
{% endif %}
<form class="form-inline" role="form">
  <div class="form-group has-success has-feedback" style="width:90%">
    <input type="text" class="form-control" id="valor" style="width:100%" placeholder="Procure agora seu empreendimento">
  </div>
	<button type="button" class="btn btn-success" id="buscar">Procurar</button>
</form>

{% endblock %}
