{% extends 'layout.html.twig' %}
{% set active = 'account' %}

{% block content %}
    
    <div class="alert alert-success">
    <strong>Você não é cadastrado!</strong> Utilizamos o facebook para que possamos efetuar a divulgação da sua reclamação de maneira mais simple e ampla. Não se preocupe não vamos divulgar seus dados, a única informação visivel será seu nome.  
</div>
<section id="register">
    <div class="row animated fadeILeftBig">
        <div class="login-holder col-md-6 col-md-offset-3">
		{% if app.user == false %}
                <div style=" height: 47px; overflow: hidden;margin-bottom:14px;text-align:center">
                    <a href="{{ app.login.login_paths.facebook }}">
			<img pacientealt="Entrar com Facebook" src="/images/usar-minhaconta-face.png" style="cursor: pointer" >
		    </a>
                </div>
  		{% endif %}
        </div>
    </div>
</section>

{% endblock %}
