{% extends 'layout.html.twig' %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
<div class="alert alert-success">Bem vindo!</strong> Divulgue sua reclamação agora.</div>

    
{% endblock %}
