{% extends 'layout.html.twig' %}
{% block content %}
    <div class="alert alert-success">Bem vindo!</strong> Divulgue sua reclamação agora. Clique em buscar empreendimento após encontrar seu empreendimento você pode cadastrar sua reclamação.</div>
{% endblock %}
