{% extends 'layout.html.twig' %}
{% block content %}
<div id="main" role="main" class="container">
    <div class="page-header">
        <h1>Quem somos ?</h1>
    </div>
    <p align="justify">
        O <strong>reclameimovel.com.br</strong> foi criado para dar voz ao consumidor. Somos uma empresa com um grande propósito: melhorar a qualidade de atendimento da população. Queremos <strong>fazer diferença na vida das pessoas! </strong>A ideia vai muito além de possibilitar que você usuário possa se manifestar a respeito de problemas. 
        O site visa criar um canal eficiente e transparente entre clientes e empresas, minimizando confrontos judiciais e auxiliando no processo de atendimento ao consumidor. 
        Além de estarmos com os profissionais especializados em diversas áreas para poder lhe atender melhor como: consultores, advogados, publicitários, desenvolvedores, designers e administradores.        
    </p>
    <p align="justify">
        Temos visto no mercado que o consumidor utiliza sites de reclamação com textos apenas, nós vamos disponibilizar o envio de fotos e vídeos pois desta forma poderá publicar de forma mais detalhada, possibilitando que a empresa veja realmente a onde esta errando.
        Nossa maior preocupação e poder fazer com que toda sua informação chegue na empresa. 
    </p>
    <p>Atentos aos detalhes, cuidamos para que nenhuma empresa honesta tenha reputação negativa, assim como nenhum consumidor honesto tenha seu problema não solucionado.
    </p>
</div>
{% endblock %}
