{% extends 'layout.html.twig' %}
{% block content %}
<div class="alert alert-danger">
    <strong>Atenção:</strong> Deixe sua sugestão, crítica, reclamação, idéia, pois este é o seu portal você pede e nós fazemos é só entrar em contato com o email: sugestao@reclameimovel.com.br.
</div>
{% endblock %}
