{% extends 'layout.html.twig' %}
{% block content %}
 <div id="main" role="main" class="container">
     <div class="page-header">
        <h1>Termo de Uso</h1>
      </div>
<p>
                            Por meio do presente termo, o site www.reclameimovel.com.br e informa as condi&ccedil;&otilde;es que disciplinam o uso dos servi&ccedil;os dispon&iacute;veis no site.
                        </p>
                        <p>
                            Acatando as condi&ccedil;&otilde;es abaixo estipuladas, o usu&aacute;rio poder&aacute; usufruir dos servi&ccedil;os prestados pelo site e declarar&aacute; ci&ecirc;ncia do presente termo e das condi&ccedil;&otilde;es de uso do site.
                        </p>
                        <p>
                            1. Dos Servi&ccedil;os
                        </p>
                        <p>
                            1.1 A FM &eacute; administradora e titular exclusiva dos direitos do site www.reclameimovel.com.br, que disponibiliza ferramentas de comunica&ccedil;&atilde;o, intera&ccedil;&atilde;o e intermedia&ccedil;&atilde;o de problemas havidos entre cidad&atilde;os, consumidores e fornecedores de produtos e servi&ccedil;os.
                        </p>
                        <p>
                            1.2 Toda e qualquer nova ferramenta ou atividade inclu&iacute;da no site, estar&aacute;, automaticamente, vinculada e subordinada &agrave;s condi&ccedil;&otilde;es do presente termo.
                        </p>
                        <p>
                            1.3 Os servi&ccedil;os est&atilde;o dispon&iacute;veis para pessoas f&iacute;sicas, nacionais ou estrangeiras, maiores de 18 (dezoito) anos e capazes, nos termos da lei civil, bem como para pessoas jur&iacute;dicas.
                        </p>
                        <p>
                            1.4 O reclameimovel.com.br &eacute; um site de utilidade p&uacute;blica e seus servi&ccedil;os s&atilde;o inteiramente gratuitos para os USU&Aacute;RIOS. 
                        </p>
                        <p>
                            2 . Do Cadastro do Usu&aacute;rio
                        </p>
                        <p>
                            2.1 Para o cadastro no site, o USU&Aacute;RIO dever&aacute; manifestar o seu consentimento com o presente termo e condi&ccedil;&otilde;es de uso do site, eletronicamente, clicando no bot&atilde;o &ldquo;Eu aceito! Criar minha conta.&rdquo;.
                        </p>
                        <p>
                            2.2 Com a concord&acirc;ncia expressa do USU&Aacute;RIO, caber&aacute; a este efetivar o seu cadastramento no site, fornecendo, nos campos espec&iacute;ficos, todas as informa&ccedil;&otilde;es solicitadas, tais como endere&ccedil;o eletr&ocirc;nico, nome completo, CPF para que ent&atilde;o possa ser iniciada a livre utiliza&ccedil;&atilde;o das ferramentas do site.
                      </p>
                        <p>
                            2.3 Ao se cadastrar, o USU&Aacute;RIO dever&aacute; escolher um nome de usu&aacute;rio (&ldquo;login&rdquo;) que dever&aacute; ser seu e-mail e uma senha secreta, os quais ser&atilde;o pessoais e intransfer&iacute;veis e garantir&atilde;o o seu acesso ao site, sendo poss&iacute;vel navegar e participar das atividades em seu nome, acessar e alterar todas as suas informa&ccedil;&otilde;es pessoais e cadastro.
                        </p>
                        <p>
                            2.4 &Eacute; de inteira responsabilidade do USU&Aacute;RIO manter a senha em sigilo, sendo o &uacute;nico e exclusivo respons&aacute;vel por toda atividade realizada com a sua conta. 
                        </p>
                        <p>
                            2.5 O USU&Aacute;RIO concorda e est&aacute; obrigado a:
                        </p>
                        <p>
                            (a) notificar o site, sobre qualquer suspeita ou conhecimento de uso n&atilde;o autorizado da sua senha, dados cadastrais, conta ou qualquer outra quebra de seguran&ccedil;a; e 
                            (b) sair de sua conta de usu&aacute;rio ao final de cada sess&atilde;o e assegurar que esta n&atilde;o seja acessada por terceiros n&atilde;o autorizados. 
                        </p>
                        <p>
                            2.6 O USU&Aacute;RIO dever&aacute; registrar-se em formul&aacute;rio espec&iacute;fico de cadastro, fornecendo informa&ccedil;&otilde;es verdadeiras, exatas e atuais sobre si mesmo, bem como dever&aacute; conservar e atualizar referidas informa&ccedil;&otilde;es, a fim de mant&ecirc;-los verdadeiros, exatos e atuais.
                        </p>
                        <p>
                            2.7 Para o cadastramento no site, &eacute; expressamente proibida a cria&ccedil;&atilde;o de conta em nome de terceiros. O USU&Aacute;RIO se compromete a informar seu pr&oacute;prio endere&ccedil;o eletr&ocirc;nico a ser utilizado para o recebimento de mensagens advindas de seu cadastro.
                        </p>
                        <p>
                            2.8 Ser&aacute; de total e &uacute;nica responsabilidade do USU&Aacute;RIO quaisquer preju&iacute;zos decorridos pelo acesso n&atilde;o desejado, por terceiros, &agrave;s informa&ccedil;&otilde;es inseridas e/ou disponibilizadas no site.
                        </p>
                        <p>
                            2.9 &Eacute; vedado ao site utilizar as informa&ccedil;&otilde;es cadastrais fornecidas pelo USU&Aacute;RIO para a realiza&ccedil;&atilde;o de quaisquer atividades il&iacute;citas, mas t&atilde;o somente para aquelas expressamente permitidas pelo presente instrumento.
                        </p>
                        <p>
                            2.10 O USU&Aacute;RIO poder&aacute; autorizar o site a locar o seu e-mail ou cadastro pessoal para terceiros, de determinado ramo de atividade escolhido pelo pr&oacute;prio USU&Aacute;RIO, para o recebimento de correspond&ecirc;ncias.
                        </p>
                        <p>
                            2.11 O site fica autorizado a divulgar o conte&uacute;do criado pelo USUARIO sendo por interm&eacute;dio de uma reclama&ccedil;&atilde;o ou de uma pesquisa de opini&atilde;o.
                        </p>
                        <p>
                        2.12 Os dados ou informa&ccedil;&otilde;es fornecidas pelo USU&Aacute;RIO ao site, poder&atilde;o ser reveladas por este em cumprimento &agrave; ordem judicial, inveracidade das informa&ccedil;&otilde;es prestadas ou em caso de apura&ccedil;&atilde;o de fraude, mediante processo  administrativo interno. </p>
                        <p>
                            2.13 Os dados ou informa&ccedil;&otilde;es fornecidas pelo USU&Aacute;RIO ao site, poder&atilde;o ser fornecidos &agrave; empresa reclamada a fim de auxiliar o procedimento de resolu&ccedil;&atilde;o da reclama&ccedil;&atilde;o e/ou &agrave; assessoria jur&iacute;dica, caso o servi&ccedil;o seja solicitado.</p>
                        <p>
                            3. Da Propriedade Intelectual e da Responsabilidade pelas Informa&ccedil;&otilde;es	    </p>
                    <p>
                          3.1 Todo material e servi&ccedil;o encontrado nas p&aacute;ginas do site, s&atilde;o de exclusiva propriedade do reclameimovel.com.br, que det&eacute;m todos os direitos autorais, licenciamentos e direitos de propriedade, marca ou patente a eles relativos. Qualquer viola&ccedil;&atilde;o dos direitos de propriedade pelo USU&Aacute;RIO resultar&aacute; na sua responsabilidade, direta e pessoal, pelos atos praticados, nos termos da lei e com a aplica&ccedil;&atilde;o das san&ccedil;&otilde;es cab&iacute;veis c&iacute;veis e criminais.
                      </p>
                        <p>
                            3.2 O USU&Aacute;RIO se compromete a n&atilde;o reproduzir, duplicar, copiar ou explorar os servi&ccedil;os prestados, softwares utilizados e/ou materiais disponibilizados pelo site, para quaisquer fins n&atilde;o expressamente autorizados no presente termo.
                        </p>
                        <p>
                            3.3 Nenhuma responsabilidade poder&aacute; ser imputada ao reclameimovel.com.br, se o USU&Aacute;RIO, por meio do site, adentrar-se em sites ou links de propriedade, administra&ccedil;&atilde;o e/ou controle de terceiros.
                        </p>
                        <p>
                            <b>3.4 As reclama&ccedil;&otilde;es postadas pelo usu&aacute;rio somente poder&atilde;o ser retiradas pelo pr&oacute;prio.</b>
                        </p>
                        <p>
                            <b>3.5 Caso a reclama&ccedil;&atilde;o postada tenha sido respondida e n&atilde;o houver manifesta&ccedil;&atilde;o alguma por parte do reclamante nos 7 (sete) dias posteriores, a reclama&ccedil;&atilde;o ser&aacute; automaticamente dada como solucionada.</b>
                        </p>
                        <p>
                            3.6 O USU&Aacute;RIO dever&aacute; pautar suas opini&otilde;es e coment&aacute;rios em conformidade com a lei e a moral, n&atilde;o podendo usar o servi&ccedil;o para:
                        </p>
                        <p>
                            (a) submeter, postar, ou transmitir, conte&uacute;do difamat&oacute;rio, calunioso, injurioso, abusivo, vulgar, obsceno, ou amea&ccedil;ador ou que, de qualquer forma, atente contra a moral e os bons costumes; <br>
                            (b) submeter, postar ou transmitir conte&uacute;do que infrinja ou viole direitos de terceiros, inclu&iacute;dos direitos da personalidade e de propriedade intelectual; <br>
                            (c) submeter, postar ou transmitir v&iacute;rus, arquivos corrompidos, ou quaisquer outros programas que possam danificar, ainda que momentaneamente, a opera&ccedil;&atilde;o de computador alheio; <br>
                            (d) submeter, postar ou transmitir propaganda ou oferta de venda de produtos ou servi&ccedil;os com intuito comercial; <br>
                            (e) submeter, postar ou transmitir manifesta&ccedil;&otilde;es pol&iacute;ticas ou religiosas, pir&acirc;mides, esquemas, spams, etc.; e <br>
                            (f) submeter, postar ou transmitir conte&uacute;do que seja contr&aacute;rio &agrave; lei;
                            (g) submeter, postar ou transmitir conte&uacute;do que seja relacionado a causas trabalhistas.
                        </p>
                        <p>
                            3.7 O site n&atilde;o endossa as opini&otilde;es e coment&aacute;rios ofensivos e duvidosos dos USU&Aacute;RIOS, e n&atilde;o garantem a exatid&atilde;o, a qualidade, ou a confiabilidade das opini&otilde;es de pessoas que utilizem o site para denegrir a imagem de pessoas f&iacute;sicas ou jur&iacute;dicas.
                        </p>
                        <p>
                            3.8 Tomando conhecimento de qualquer viola&ccedil;&atilde;o &agrave;s condi&ccedil;&otilde;es acima, fica o USU&Aacute;RIO ciente de que poder&aacute; ter suas opini&otilde;es editadas a fim de descaracterizar qualquer das condutas acima elencadas. 
                        </p>
                        <p>
                            3.9 O USU&Aacute;RIO declara-se ciente e concorda que, ao transmitir e/ou enviar ao site qualquer material, informa&ccedil;&atilde;o e/ou dados, estar&aacute; cedendo os direitos de uso e divulga&ccedil;&atilde;o do mesmo e aos demais usu&aacute;rios, que poder&atilde;o utiliz&aacute;-los livremente.
                        </p>
                        <p>
                            3.10 Quando n&atilde;o for de sua pr&oacute;pria e/ou exclusiva autoria os dados e informa&ccedil;&otilde;es remetidos ao site, o USU&Aacute;RIO dever&aacute; apresentar autoriza&ccedil;&atilde;o do(s) leg&iacute;timo(s) titular(es) para divulga&ccedil;&atilde;o do material. O USU&Aacute;RIO remetente ser&aacute; o &uacute;nico respons&aacute;vel, por quaisquer reclama&ccedil;&otilde;es ou reivindica&ccedil;&otilde;es de terceiros concernentes &agrave; autoria, uso indevido ou preju&iacute;zos relacionados ao uso de referido material.
                        </p>
                        <p>
                            3.11 Caso o site venha a ser demandado judicial ou administrativamente, pela veicula&ccedil;&atilde;o ou uso n&atilde;o autorizado de materiais, informa&ccedil;&otilde;es e/ou dados de propriedade e titularidade de terceiros, o USU&Aacute;RIO, como &uacute;nico respons&aacute;vel por sua remessa ao site, ser&aacute; chamado para responder &agrave;s acusa&ccedil;&otilde;es ou indaga&ccedil;&otilde;es perante o reclamante, devendo ressarci-lo integralmente pelas perdas e danos. Casos que estiverem transitando na justi&ccedil;a poder&atilde;o ser removidos mediante solicita&ccedil;&atilde;o da empresa.</p>
                        <p>
                            3.12 O site n&atilde;o se responsabiliza em nenhuma hip&oacute;tese, e o USU&Aacute;RIO assume o risco, de algum outro usu&aacute;rio e/ou terceiro copiar as informa&ccedil;&otilde;es que tenham sido enviadas e/ou inseridas no site.
                        </p>
                        <p>
                            4. Veda&ccedil;&otilde;es ao USU&Aacute;RIO. 
                            Fica vedado aos usu&aacute;rios:
                        </p>
                        <p>
                            4.1 utilizar-se das atividades do site para fins comerciais, mediante o envio de publicidade, correspond&ecirc;ncias institucionais, malas diretas, propagandas ou qualquer outro material de natureza semelhante; e 
                        </p>
                        <p>
                            4.2 enviar quaisquer esp&eacute;cies de arquivos e/ou material com v&iacute;rus que possam causar danos ao software/hardware do site ou demais usu&aacute;rios.
                        </p>
                        <p>4.3 postar elogios no campo reservado ao envio de reclama&ccedil;&otilde;es.</p>
                        <p>
                            5. Da Aus&ecirc;ncia de Responsabilidade do site
                        </p>
                        <p>
                            5.1 O site tomar&aacute; todas as medidas para manter o acesso de forma constante, ininterrupta e isenta de quaisquer erros, no entanto, n&atilde;o ser&aacute; respons&aacute;vel por danos decorrentes de falha ou interrup&ccedil;&atilde;o na presta&ccedil;&atilde;o dos servi&ccedil;os. O site tamb&eacute;m n&atilde;o ser&aacute; respons&aacute;vel:
                        </p>
                        <p>
                            (a) pela impossibilidade de acesso ao site decorrente de: (I) quaisquer defeitos ou inadequa&ccedil;&atilde;o dos equipamentos utilizados pelo USU&Aacute;RIO incluindo, mas n&atilde;o se limitando, aos softwares, hardwares, sistemas de processamento e quaisquer conex&otilde;es de rede; (II) inabilidade do USU&Aacute;RIO para opera&ccedil;&atilde;o dos seus equipamentos; (III) falta de compreens&atilde;o das instru&ccedil;&otilde;es contidas no site; (IV) falhas na rede mundial de computadores (Internet) e provedores; (V) falhas nos sistemas, softwares e/ou hardwares do site; (VI) interrup&ccedil;&otilde;es propositais realizadas pelo site, por quaisquer motivos; (VII) interrup&ccedil;&atilde;o das atividades do site; e (VIII) caso fortuito ou for&ccedil;a maior;
                        </p>
                        <p>
                            (b) por quaisquer preju&iacute;zos causados por grava&ccedil;&atilde;o realizada pelo USU&Aacute;RIO (download) para os seus equipamentos pr&oacute;prios, de quaisquer arquivos eletr&ocirc;nicos existentes ou disponibilizados no site, por outros usu&aacute;rios ou por terceiros;
                        </p>
                        <p>
                            (c) por quaisquer preju&iacute;zos advindos de servi&ccedil;os ou trabalhos apresentados pelos anunciantes, patrocinadores ou parceiros do site, tais como an&uacute;ncios e promo&ccedil;&otilde;es que ser&atilde;o de responsabilidade dos mesmos;
                        </p>
                        <p>
                            (d) por preju&iacute;zos advindos ao USU&Aacute;RIO pela utiliza&ccedil;&atilde;o indevida e/ou dolosa por terceiros, dos materiais, dados pessoais e cadastrais fornecidos por aquele, que forem veiculados no site na forma descrita e prevista no presente contrato;
                        </p>
                        <p>
                            (e) por quaisquer preju&iacute;zos decorrentes da utiliza&ccedil;&atilde;o indevida do nome de usu&aacute;rio e senha por terceiros;
                        </p>
                        <p>
                            (f) por danos civis ou criminais decorrentes da publica&ccedil;&atilde;o e exposi&ccedil;&atilde;o de materiais visuais, auditivos ou textuais, inseridos no site por usu&aacute;rios, sendo certo que a responsabilidade &eacute; integralmente do USU&Aacute;RIO que as enviou;
                        </p>
                        <p>
                            (g) por atos de m&aacute;-f&eacute; de terceiros que promovam a invas&atilde;o do programa do site, tais como hackers, que acessem os dados cadastrais e pessoais fornecidos pelo USU&Aacute;RIO e que se utilizem ilicitamente dos mesmos para quaisquer fins. O site tomar&aacute; os cuidados razo&aacute;veis para evitar a invas&atilde;o do sistema, mas n&atilde;o se responsabiliza, pela inviolabilidade do mesmo;
                        </p>
                        <p>
                            (h) pela perda de dados e/ou informa&ccedil;&otilde;es eventualmente gravados pelo USU&Aacute;RIO no banco de dados do site, seja por rescis&atilde;o do contrato, seja por falha de sistema. O site n&atilde;o se obriga a manter e/ou realizar qualquer esp&eacute;cie de 'back-up' dos materiais e dados fornecidos pelo USU&Aacute;RIO; e
                        </p>
                        <p>
                            (i) pela infring&ecirc;ncia do USU&Aacute;RIO &agrave;s normas da lei ou do presente, que gere preju&iacute;zos a terceiros e/ou a outros usu&aacute;rios.
                        </p>
                        <p>
                            6. Do Prazo, Rescis&atilde;o e Modifica&ccedil;&atilde;o de Cl&aacute;usulas
                        </p>
                        <p>
                            6.1 O presente contrato vigorar&aacute; por tempo indeterminado ou durante o per&iacute;odo em que o site estiver disponibilizando os seus servi&ccedil;os via internet. O site se reserva o direito de, a qualquer momento, sem qualquer &ocirc;nus ou aviso pr&eacute;vio, encerrar suas atividades ou limitar o uso de seus servi&ccedil;os.
                        </p>
                        <p>
                            6.2 O site se reserva o direito de bloquear o acesso e rescindir de imediato, sem aviso pr&eacute;vio, a presta&ccedil;&atilde;o dos servi&ccedil;os, toda vez que, a seu exclusivo crit&eacute;rio, entender que h&aacute; ind&iacute;cios de utiliza&ccedil;&atilde;o fraudulenta ou il&iacute;cita do site pelo USU&Aacute;RIO. 
                        </p>
                        <p>
                            6.3 Rescindir-se-&aacute; a presta&ccedil;&atilde;o dos servi&ccedil;os do site, impedindo inclusive o recadastramento do USU&Aacute;RIO que tiver de qualquer maneira agido contra a moral, &eacute;tica, bons costumes, lei, disposi&ccedil;&otilde;es deste termo ou, ainda, que tenha sido expulso do site.
                        </p>
                        <p>
                            6.4 Em todos os casos de cessa&ccedil;&atilde;o da presta&ccedil;&atilde;o dos servi&ccedil;os, as informa&ccedil;&otilde;es, imagens, textos, arquivos e quaisquer dados referentes ao USU&Aacute;RIO ser&atilde;o perdidos em sua totalidade, n&atilde;o cabendo a este qualquer esp&eacute;cie de indeniza&ccedil;&atilde;o ou compensa&ccedil;&atilde;o.
                        </p>
                        <p>
                            6.5 O USU&Aacute;RIO declara-se ciente e concorda que, ap&oacute;s o t&eacute;rmino da presta&ccedil;&atilde;o dos servi&ccedil;os, suas informa&ccedil;&otilde;es, opini&otilde;es, textos, dados e/ou quaisquer materiais por ele encaminhados ao site poder&atilde;o permanecer no site e ser utilizados pelo sem quaisquer &ocirc;nus para o site, com a perman&ecirc;ncia da sujei&ccedil;&atilde;o desses materiais aos termos do presente instrumento por prazo indeterminado, ou at&eacute; que o USU&Aacute;RIO desligado solicite expressamente a sua retirada do site.
                        </p>
                        <p>
                            6.7 O site se reserva o direito de, a qualquer momento, alterar o disposto neste instrumento. Caso o USU&Aacute;RIO continue utilizando os servi&ccedil;os ap&oacute;s a elabora&ccedil;&atilde;o dos novos Termos e Condi&ccedil;&otilde;es de Uso do Site, este ter&aacute; prosseguimento normal, sendo t&aacute;cita a sua aceita&ccedil;&atilde;o pelo USU&Aacute;RIO.
                        </p>
                        <p>
                            6.8 Caso o USU&Aacute;RIO n&atilde;o concorde com qualquer disposi&ccedil;&atilde;o da nova vers&atilde;o dos Termos e Condi&ccedil;&otilde;es de Uso do Site, este dever&aacute; encaminhar a notifica&ccedil;&atilde;o ao site, informando sobre o seu n&atilde;o interesse em continuar utilizando os servi&ccedil;os ficando vedado o seu acesso ao site.
                        </p>
                        <p>
                            7. Das Penalidades
                        </p>
                        <p>
                            7.1 O descumprimento de quaisquer das cl&aacute;usulas e condi&ccedil;&otilde;es do presente instrumento, por parte do USU&Aacute;RIO, poder&aacute; gerar as seguintes penalidades.
                        </p>
                        <p>
                            ADVERT&Ecirc;NCIA: O site encaminhar&aacute; ao e-mail do USU&Aacute;RIO uma advert&ecirc;ncia, toda vez que esse tiver incidido em uma infra&ccedil;&atilde;o leve;<br>
                            SUSPENS&Atilde;O: o site poder&aacute; suspender o acesso do USU&Aacute;RIO ao site por um prazo de 3 (tr&ecirc;s) a 30 (trinta) dias, toda vez que esse tiver incidido em uma infra&ccedil;&atilde;o grave, ou automaticamente no recebimento da terceira advert&ecirc;ncia; e<br>
                            EXPULS&Atilde;O: o site expulsar&aacute; o USU&Aacute;RIO, proibindo definitivamente o seu acesso, toda vez que esse tiver incidido em uma infra&ccedil;&atilde;o grav&iacute;ssima, ou automaticamente no recebimento da terceira suspens&atilde;o.
                        </p>
                        <p>
                            7.2 O site definir&aacute; a seu livre e exclusivo crit&eacute;rio, o grau de gravidade da infra&ccedil;&atilde;o praticada, bem como, no caso da suspens&atilde;o, o per&iacute;odo da mesma.
                        </p>
                        <p>
                            7.3 As penalidades acima previstas n&atilde;o eximem o USU&Aacute;RIO infrator, a responder se for o caso, civil e criminalmente, por seus atos, perante o site, outros usu&aacute;rios e/ou terceiros prejudicados.
                        </p>
                        <p>
                            7.4 O USU&Aacute;RIO ter&aacute; um prazo de 5 (cinco) dias para recorrer da pena de suspens&atilde;o e/ou de advert&ecirc;ncia, mediante o envio de suas raz&otilde;es ao site, tendo o mesmo total autonomia e liberdade para acatar ou n&atilde;o os seus argumentos.
                        </p>
                        <p>
                            8. Do Foro
                        </p>
                        <p>
                            Para qualquer discuss&atilde;o judicial que tenha por base a interpreta&ccedil;&atilde;o ou aplica&ccedil;&atilde;o do presente instrumento, fica eleito o foro da cidade de Curitiba/PR, por mais privilegiado que outro seja.
                        </p>
 </div>
{% endblock %}
