{% extends 'layout.html.twig' %}
{% block content %}
<div class="col-md-8">
    <div class="panel-group" >
        {% for video in aLista %}
         <div class="panel panel-default">
            <div class="panel-heading"><h3><b>Vídeo publicado em: {{video.dtCadastro|date("d/m/Y")}}</b></h3></div>
            <div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body text-justify">
                    <iframe  width="100%" height="315" src="//www.youtube.com/embed/{{video.link}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
